<div class="product-box">
  <div class="container">
    <div class='row content-box order-box'>
      <div class='col-md-8 col-md-offset-2'>
        <!--=== 頁面標題 ===-->
        <h3><i class='fa fa-credit-card'></i> <%= t('account-order-index') %></h3>

        <!-- 如果有訂單資料，顯示訂單內容 -->
        <% if @orders.length > 0 %>

        <!--=== 使用者歷史訂單===-->
        <table class='table table-hover'>
          <!-- 歷程訂單列表標題 -->
          <thead>
            <tr>
              <th><%= t('order-id') %></th>
              <th><%= t('order-total') %></th>
              <th><%= t('order-date') %></th>
              <th><%= t('order-status') %></th>
            </tr>
          </thead>
          <!-- 歷程訂單列表內容 -->
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td class="width-25"># <%= link_to(order.id, order_path(order.token)) %></td>
              <td><%= order.currency %> <%= order.total %></td>
              <td><%= order.created_at.strftime("%Y-%m-%d - %H:%M") %></td>
              <td><%= render_order_status(order) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      <!-- 如果沒有訂單資料 -->
      <% else %>
        <div class="buy-box">
          <h1><%= t('order-no-data') %></h1>
          <br/>
          <%= link_to(t('btn-buy-now'), products_path, class:'btn btn-lg btn-default' ) %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
