<!--=== 修改品牌 ===-->
<h2><%= t('brand-edit') %></h2>

<!--=== 修改品牌表單 ===-->
<%= simple_form_for [:admin, @brand] do |f| %>

<div class="group">
  <%= f.input :name, :label => t('f-brand-name') %>
</div>

<div class="group">
  <%= f.input :logo, :label => t('f-brand-logo') %>
</div>

<div class="group">
  <%= f.input :description, :label => t('f-brand-description') %>
</div>

<div class="group">
  <%= f.input :is_hidden, :label => t('f-hide') %>
</div>

<%= f.submit t('f-submit'), class: 'btn btn-lg btn-default' %>

<% end %>
