<!--=== 頁面標題 ===-->
<h2><%= t('brand-index') %></h2>

<!--=== 新增品牌 ===-->
<div class="pull-right">
  <%= link_to(t('btn-brand-new'), new_admin_brand_path, :class => 'btn btn-sm btn-default')%>
</div>

<!--=== 品牌列表 ===-->
<table class="table">
  <!--=== 品牌列表標題 ===-->
  <thead>
    <tr>
      <th></th>
      <th><%= t('f-brand-name') %></th>
      <th><%= t('f-brand-logo') %></th>
      <th><%= t('f-brand-description') %></th>
      <th><%= t('f-brand-options') %></th>
    </tr>
  </thead>

  <!--=== 品牌列表內容 ===-->
  <% @brands.each do |brand| %>
    <tr>
      <td><%= render_brand_status(brand) %></td>
      <td><%= link_to(brand.name, admin_brand_path(brand)) %></td>
      <td><%= brand.logo %></td>
      <td><%= brand.description %></td>
      <!--=== 操作選項 ===-->
      <td>
        <!-- 編輯 -->
        <%= link_to(t('btn-edit'), edit_admin_brand_path(brand), :class => 'btn btn-sm btn-default') %>
        <!-- 發佈 / 隱藏 -->
        <% if brand.is_hidden %>
          <%= link_to(t('btn-publish'), publish_admin_brand_path(brand), :method => :post, :class => 'btn btn-sm btn-default') %>
        <% else %>
          <%= link_to(t('btn-hide'), hide_admin_brand_path(brand), :method => :post, :class => 'btn btn-sm btn-default') %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
