<!--=== 新增品牌 ===-->
<h2><%= t('brand-new') %></h2>

<!--=== 新增品牌表單 ===-->
<%= simple_form_for [:admin, @brand] do |f| %>

  <div class="group">
    <%= f.input :name, :label => t('f-brand-name') %>
  </div>

  <div class="group">
    <%= f.input :logo, :label => t('f-brand-logo') %>
  </div>

  <div class="group">
    <%= f.input :description, :label => t('f-brand-description') %>
  </div>

  <%= f.submit t('f-brand-submit'), data: { disable_with: "Submitting..." } %>

<% end %>
