<div class="row">
  <div class="col-md-12">
    <!--=== 頁面標題 ===-->
    <h2>
      <%= t('order-show') %>
      (<%= render_order_paid_state(@order) %>)
    </h2>

    <%= render "admin/orders/state_option", order: @order %>
    <!--=== 訂單資訊 ===-->
    <table class='table'>
      <!-- 訂單列表標題 -->
      <thead>
        <tr>
          <th><%= t('f-cart-product-info') %></th>
          <th><%= t('f-cart-product-price') %></th>
          <th><%= t('f-cart-product-quantity') %></th>
        </tr>
      </thead>
      <!-- 訂單列表內容 -->
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.product.name %>
            </td>
            <td>
              <%= order_item.product.price %>
            </td>
            <td>
              <%= order_item.quantity %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- 訂單商品總價 -->
    <div class='totol clearfix'>
      <span class='pull-right'>
        <%= t('f-cart-total') %>
        <%= @order.total %>
      </span>
    </div>

    <!--=== 頁面標題 ===-->
    <h2><%= t('checkout-index') %></h2>

    <!--=== 聯絡人 / 收件人資訊 ===-->
    <table class='table'>
      <tbody>
        <!-- 聯絡人資訊 -->
        <tr>
          <th>
            <%= t('f-billing-info') %>
          </th>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name%><br/>
            <%= @order.billing_address%>
          </td>
        </tr>
        <!-- 收件人資訊 -->
        <tr>
          <th>
            <%= t('f-shipping-info') %>
          </th>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name%><br/>
            <%= @order.shipping_address%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
