<div class='product-box'>
  <div class='container'>
    <div class='row content-box order-box'>
      <div class='col-md-8 col-md-offset-2'>
        <!--=== 頁面標題 ===-->
        <h3><i class='fa fa-list-alt'></i> <%= t('order-show') %></h3>
        <!--=== 訂單資訊 ===-->
        <table class='table table-hover'>
          <!-- 訂單列表標題 -->
          <thead>
            <tr>
              <th colspan='2'><%= t('f-cart-product-info') %></th>
              <th><%= t('f-cart-product-price') %></th>
              <th><%= t('f-cart-product-quantity') %></th>
              <th><%= t('f-cart-product-count') %></th>
            </tr>
          </thead>
          <!-- 訂單列表內容 -->
          <tbody>
          <% @order_items.each do |order_item| %>
          <tr>
            <td>
              <!-- 商品圖片 -->
                <% if order_item.product.product_images.present? %>
                  <!-- 顯示第一張圖片 -->
                  <%= image_tag(order_item.product.product_images[0].image.other.url)%>
                <% else %>
                  <%= image_tag('http://placehold.it/200x200&text=No Pic') %>
                <% end %>
              </td>
            <td class='width-50'><%= link_to(order_item.product.name, product_path(order_item.product)) %></td>
            <td><%= render_order_product_price(order_item.product) %></td>
            <td>x <%= order_item.quantity %></td>
            <td><%= render_order_product_price_count(order_item.product,order_item.quantity) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
        <!-- 訂單商品總價 -->
        <div class='totol clearfix'>
          <span class='pull-right'>
            <%= t('f-cart-total') %>
              <%= @order.currency %> <%= @order.total %>
          </span>
        </div>

        <!--=== 頁面標題 ===-->
        <h3><i class='fa fa-credit-card'></i> <%= t('checkout-index') %></h3>
        <!--=== 聯絡人 / 收件人資訊 ===-->
        <table class='table'>
          <tbody>
            <!-- 聯絡人資訊 -->
            <thead>
              <tr>
                <th>
                  <%= t('f-billing-info') %>
                </th>
              </tr>
            </thead>
            <tr>
              <td>
                <strong><%= t('f-billing-name') %>：</strong><%= @order.billing_name%><br/>
                <strong><%= t('f-billing-address') %>：</strong><%= @order.billing_address%><br/>
                <strong><%= t('f-payment-method') %>：</strong><%= @order.payment_method %><br/>
              </td>
            </tr>
            <!-- 收件人資訊 -->
            <thead>
              <tr>
                <th>
                  <%= t('f-shipping-info') %>
                </th>
              </tr>
            </thead>
            <tr>
              <td>
                <strong><%= t('f-shipping-name') %>：</strong><%= @order.shipping_name%><br/>
                <strong><%= t('f-shipping-address') %>：</strong><%= @order.shipping_address%>
              </td>
            </tr>
          </tbody>
        </table>

        <!--=== 付款方式 ===-->
        <%= render 'orders/payment' %>

        <br/>

        <!--=== 已付款 ===-->
        <% if @order.is_paid? %>
          <h4 class='text-center'>
            <%= t('order-paid') %>
          </h4>
        <% end %>

        <br/>

        <!--=== 申請取消訂單 ===-->
        <div class='text-center'>
          <% if @order.order_placed? || @order.paid? %>
            <%= link_to(t('btn-apply-to-cancel'), apply_to_cancel_order_path(@order), method: :post, class: 'btn btn-md btn-default') %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
