<div class="product-box">
  <div class="container">
    <div class='row content-box'>
      <div class='col-md-12'>
        <!--=== 頁面標題 ===-->
        <h3><%= t('order-show') %></h3>
        <hr />
        <!--=== 訂單資訊 ===-->
        <div class="row">
          <!-- 訂單列表標題 -->
          <thead>
            <tr>
              <th><%= t('f-cart-product-info') %></th>
              <th><%= t('f-cart-product-price') %></th>
              <th><%= t('f-cart-product-quantity') %></th>
            </tr>
          </thead>
          <!-- 訂單列表內容 -->
          <tbody>
            <% @order_items.each do |order_item| %>
              <tr>
                <td>
                  <%= order_item.product_name %>
                </td>
                <td>
                  <%= order_item.product_price %>
                </td>
                <td>
                  <%= order_item.quantity %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- 訂單商品總價 -->
        <div class='totol clearfix'>
          <span class='pull-right'>
            <%= t('f-cart-total') %>
            <%= @order.total %>
          </span>
        </div>

        <!--=== 頁面標題 ===-->
        <h3><%= t('checkout-index') %></h3>

        <!--=== 聯絡人 / 收件人資訊 ===-->
        <table class='table'>
          <tbody>
            <!-- 聯絡人資訊 -->
            <tr>
              <th>
                <%= t('f-billing-info') %>
              </th>
            </tr>
            <tr>
              <td>
                <%= @order.billing_name%><br/>
                <%= @order.billing_address%>
              </td>
            </tr>
            <!-- 收件人資訊 -->
            <tr>
              <th>
                <%= t('f-shipping-info') %>
              </th>
            </tr>
            <tr>
              <td>
                <%= @order.shipping_name%><br/>
                <%= @order.shipping_address%>
              </td>
            </tr>
          </tbody>
        </table>

        <!--=== 申請取消訂單 ===-->
        <div class='pull-left'>
          <% if @order.order_placed? || @order.paid? %>
            <%= link_to(t('btn-apply-to-cancel'), apply_to_cancel_order_path(@order), method: :post, class: 'btn btn-lg btn-default') %>
          <% end %>
        </div>


        <!--=== 付款（暫） ===-->
        <% if !@order.is_paid? %>
          <div class='group pull-right'>
            <%= link_to(t('btn-pay'), pay_order_path(@order.token), :method => :post, class: 'btn btn-lg btn-default') %>
          </div>
        <% else %>
          <p class='text-center'>
            <%= t('order-paid') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
