<div class="product-box">
  <div class="container">
    <!--=== 商品類型 & 品牌選單 ===-->
    <%= render "common/menu" %>
    <div class='row content-box'>
      <div class='col-md-12'>
        <!--=== 頁面標題 ===-->
        <h3><i class='fa fa-shopping-cart'></i> <%= t('cart-index') %></h3>
        <%=link_to(t('cart-clear'), clear_carts_path, method: :delete, class: 'pull-right' , data: { confirm: t('message-confirm-clear-cart') } ) %>
        <hr />
        <!--=== 購物車資訊 ===-->
        <div class="row">
          <!-- 購物車列表標題 -->
          <!-- <div>
            <%= t('f-cart-product-info') %>
            <%= t('f-cart-product-price') %>
            <%= t('f-cart-product-quantity') %>
          </div> -->
          <!-- 購物車列表內容 -->
          <% current_cart.cart_items.each do |cart_item| %>
          <div class="col-md-12 cart-item-box">
            <% if cart_item.product.product_images.present? %>
              <!-- 顯示第一張圖片 -->
              <%= image_tag(cart_item.product.product_images[0].image.thumb.url)%>
            <% else %>
              <%= image_tag('http://placehold.it/200x200&text=No Pic') %>
            <% end %>
            <div class="name"><%= link_to(cart_item.product.name, product_path(cart_item.product)) %></div>
            <div class="price">$ <%= cart_item.product.price %></div>
            <div class="quantity">x <%= cart_item.quantity %></div>
            <div class="close"><%= link_to('x' ,cart_item_path(cart_item.product_id), method: :delete) %></div>
          </div>
          <% end %>
        </div>
        <hr/>
        <!-- 購物車內商品總價 -->
        <div class='clearfix'>
          <div class='pull-right'><%= t('f-cart-total') %>$ <%= render_cart_total_price(current_cart) %></div>
        </div>
        <!-- 購物車結帳 -->
        <div class='clearfix'>
          <div class='pull-right'><%= link_to(t('btn-checkout'), checkout_carts_path, method: :post, class: 'btn btn-md btn-default') %></div>
        </div>
      </div>
    </div>
  </div>
</div>
