<div class="product-box">
  <div class="container">
    <!--=== 商品類型 & 品牌選單 ===-->
    <%= render "common/menu" %>

    <div class='row content-box'>
        <!--=== 頁面標題 ===-->
        <h3><i class='fa fa-shopping-cart'></i> <%= t('cart-index') %></h3>
        <hr />

        <div class="row">

          <!--=== 如果購物車有商品 ===-->
          <% if current_cart.cart_items.length > 0 %>

              <!--=== 顯示購物車內容 ===-->
              <div class='col-xs-12 col-md-8 cart-item-box'>
                <% current_cart.cart_items.each do |cart_item| %>

                      <!-- 商品圖片 -->
                      <% if cart_item.product.product_images.present? %>
                        <!-- 顯示第一張圖片 -->
                        <%= image_tag(cart_item.product.product_images[0].image.other.url)%>
                      <% else %>
                        <%= image_tag('http://placehold.it/200x200&text=No Pic') %>
                      <% end %>
                      <!-- 商品名稱 -->
                      <div class="name"><%= link_to(cart_item.product.name, product_path(cart_item.product)) %></div>

                    <!-- 商品單價 -->
                    <div class="price"><%= render_product_price(cart_item.product) %></div>
                    <!-- 商品數量 -->
                    <div class="quantity"> x <input type="text" name="quantity" value="<%= cart_item.quantity %>" id="<%= cart_item.product.id %>" max="<%= render_product_quantity(cart_item.product) %>" class="cart-quantity-input"></div>
                    <!-- 商品總價（單錢 x 數量） -->
                    <div class="count"><%= render_product_price_count(cart_item.product,cart_item.quantity) %></div>
                    <!-- 移除單項商品 -->
                    <div class="remove">
                      <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                        <i class='fa fa-remove'></i>
                      <% end %>
                    </div>

                    <hr/>
                    
                <% end %>
              </div>

              <!--=== 顯示購物車小計、結帳按鈕 ===-->
              <div class='col-xs-12 col-md-4 cart-checkout-box'>

                <!-- 小計、寄送方式 -->
                <div class='clearfix'>
                  <span class='pull-left'><%= t('f-cart-product-count') %></span>
                  <span class='pull-right'><%= render_cart_total_price(current_cart) %></span>
                </div>

                </br>

                <div class='clearfix'>
                  <span class='pull-left'><%= t('f-cart-shipping-fee') %></span>
                  <span class='pull-right'><%= t('f-cart-free-shipping') %></span>
                </div>

                <hr/>

                <!-- 商品總價 -->
                <div class='clearfix'>
                  <span class='pull-left'><%= t('f-cart-total') %></span>
                  <span class='pull-right'><%= render_cart_total_price(current_cart) %></span>
                </div>

                <br/>

                <!-- 購物須知 -->
                <div class='clearfix notice'>
                  <p><%= t('cart-notice') %></p>
                </div>

                <!-- 前往結帳 -->
                <div class='clearfix'>
                  <%= link_to(t('btn-checkout'), checkout_carts_path, method: :post, class: 'btn btn-md btn-default') %>
                </div>
              </div>

          <!--=== 如果購物車沒有商品 ===-->
          <% else %>

            <div class='col-md-12'>
              <div class="buy-box">
                <h3><%= t('cart-no-data') %></h3>
                <h3><%= t('cart-suggest') %></h3>
                <br/>
                <!-- 隨機推薦商品 -->
                <div class='col-md-8 col-md-offset-2'>
                  <%= render "shared/suggest" %>
                </div>
                <div class='col-md-12'>
                  <%= link_to(t('btn-buy-now'), products_path, class:'btn btn-lg btn-default' ) %>
                </div>
              </div>
            </div>

          <% end %>

        </div>
    </div>
  </div>
</div>
