<div class="row user_setup">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 user_setup_content">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <h2><span class="fa fa-sign-in"></span> <%= t('dv-login') %></h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, :label => false, placeholder: t('dv-check-email'), required: false, autofocus: true %>
          <%= f.input :password, :label => false, placeholder: t('dv-pwd'), required: false %>
          <%= f.input :remember_me, :label => t('dv-remember-me'), as: :boolean if devise_mapping.rememberable? %>
          <%= link_to t('dv-forgot-pwd'), new_password_path(resource_name), class: "psw" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, t('login'),class: "button" %>
        </div>
      <% end %>
      <hr />
        <div class="account">
          <%= link_to t('dv-no-account-signup'), new_registration_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
