<!--=== 頁面標題 ===-->
<h2><%= t('category-index') %></h2>

<!--=== 新增分類 ===-->
<div class="pull-right">
  <%= link_to(t('btn-category-new'), new_admin_category_path, :class => 'btn btn-sm btn-default')%>
</div>

<!--=== 分類列表 ===-->
<table class="table">
  <!--=== 分類列表標題 ===-->
  <thead>
    <tr>
      <th></th>
      <th><%= t('f-category-group') %></th>
      <th><%= t('f-category-name') %></th>
      <th><%= t('f-options') %></th>
    </tr>
  </thead>

  <!--=== 分類列表內容 ===-->
  <% @categories.each do |category| %>
    <tr>
      <td><%= render_category_status(category) %></td>
      <td><%= category.category_group.name %></td>
      <td><%= link_to(category.name, admin_category_path(category)) %></td>
      <!--=== 操作選項 ===-->
      <td>
        <!-- 編輯 -->
        <%= link_to(t('btn-edit'), edit_admin_category_path(category), :class => 'btn btn-sm btn-default') %>
        <!-- 發佈 / 隱藏 -->
        <%= render_category_publish_or_hide(category) %>
      </td>
    </tr>
  <% end %>
</table>
