<!--=== 頁面標題 ===-->
<h2><%= t('product-index') %></h2>

<!--=== 新增商品 ===-->
<div class='pull-right'>
  <%= link_to(t('btn-product-new'), new_admin_product_path, :class => 'btn btn-md btn-info')%>
</div>

<!--=== 商品列表 ===-->
<table class='table table-hover'>
  <!--=== 商品列表標題 ===-->
  <thead>
    <tr>
      <th><%= t('f-product-name') %></th>
      <th><%= t('f-product-brand') %></th>
      <th><%= t('f-product-category') %></th>
      <th><%= t('f-category-group') %></th>
      <th><%= t('f-product-price') %></th>
      <th><%= t('f-product-quantity') %></th>
      <th><%= t('f-options') %></th>
    </tr>
  </thead>

  <!--=== 商品列表內容 ===-->
  <% @products.each do |product| %>
    <tr>
      <td><%= render_product_status(product) %> <%= link_to(product.name, admin_product_path(product)) %> <%= render_product_chosen_status(product) %></td>
      <td><%= product.brand.name %></td>
      <td><%= product.category.name %></td>
      <td><%= product.category.category_group.name %></td>
      <td>$ <%= product.price %></td>
      <td><%= product.quantity %></td>
      <!--=== 操作選項 ===-->
      <td>
        <div class="action-box">
        <%= link_to(edit_admin_product_path(product), class: "btn btn-md btn-default") do %>
          <span class="fa fa-pencil"></span>
        <% end %>

        <!-- 發佈 / 隱藏 -->
        <!-- <%= render_product_publish_or_hide(product) %> -->
        <% if product.is_hidden %>
          <%= link_to(publish_admin_product_path(product), :method => :post, class: "btn btn-md btn-default show-btn") do %>
            <span class="fa fa-eye"></span>
          <% end %>
        <% else %>
          <%= link_to(hide_admin_product_path(product), :method => :post, data: { confirm: "確定隱藏該商品？" }, class: "btn btn-md btn-default") do %>
            <span class="fa fa-eye-slash"></span>
          <% end %>
        <% end %>

        <!-- 精選商品 -->
        <% if product.is_chosen %>
          <%= link_to(chosen_admin_product_path(product), :method => :post, class: "btn btn-md btn-default show-btn") do %>
            <span class="fa fa-heart"></span>
          <% end %>
        <% else %>
          <%= link_to(chosen_admin_product_path(product), :method => :post, class: "btn btn-md btn-default") do %>
            <span class="fa fa-heart-o"></span>
          <% end %>
        <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<div class="col-md-12 admin-page-box">
  <div class="text-center">
    <%= will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => t('previous-label'), :next_label => t('next-label') %>
  </div>
</div>
