<!--=== 新增商品 ===-->
<div class="pull-right">
  <%= link_to(t('btn-product-new'), new_admin_product_path, :class => 'btn btn-sm btn-default')%>
</div>

<!--=== 頁面標題 ===-->
<h2><%= t('product-index') %></h2>

<!--=== 商品列表 ===-->
<table class="table">
  <!--=== 商品列表標題 ===-->
  <thead>
    <tr>
      <th></th>
      <th><%= t('f-product-name') %></th>
      <th><%= t('f-product-brand') %></th>
      <th><%= t('f-product-category') %></th>
      <th><%= t('f-category-group') %></th>
      <th><%= t('f-product-options') %></th>
    </tr>
  </thead>

  <!--=== 商品列表內容 ===-->
  <% @products.each do |product| %>
    <tr>

      <td><%= render_product_status(product) %></td>
      <td><%= link_to(product.name, admin_product_path(product)) %></td>
      <td><%= product.brand.name %></td>
      <td><%= product.category.name %></td>
      <td><%= product.category.category_group.name %></td>

      <!--=== 操作選項 ===-->
      <td>
        <!-- 編輯 -->
        <%= link_to(t('btn-edit'), edit_admin_product_path(product), :class => 'btn btn-sm btn-default') %>
        <!-- 發佈 / 隱藏 -->
        <% if product.is_hidden %>
          <%= link_to(t('btn-publish'), publish_admin_product_path(product), :method => :post, :class => 'btn btn-sm btn-default') %>
        <% else %>
          <%= link_to(t('btn-hide'), hide_admin_product_path(product), :method => :post, :class => 'btn btn-sm btn-default') %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
