<!--=== 新增商品 ===-->
<h2><%= t('product-new') %></h2>

<!--=== 新增商品 ===-->
<%= simple_form_for [:admin, @product] do |f| %>
  <!-- 上傳圖片 -->
  <div class='group'>
    <%= f.label t('f-product-images') %><br>
    <%= f.file_field :product_image, :multiple => true, name: 'product_images[image][]' %>
  </div>

  <!-- 商品名稱 -->
  <div class='group'>
    <%= f.input :name, :label => t('f-product-name') %>
  </div>

  <!-- 商品敘述 -->
  <div class='group'>
    <%= f.input :description, :label => t('f-product-description') %>
  </div>

  <!-- 商品售價 -->
  <div class='group'>
    <%= f.input :price, :label => t('f-product-price') %>
  </div>

  <!-- 商品庫存數量 -->
  <div class='group'>
    <%= f.input :quantity, :label => t('f-product-quantity') %>
  </div>

  <!-- 選擇分類 -->
  <div class='group'>
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => t('f-product-category')) %>
  </div>

  <!-- 選擇品牌 -->
  <div class='group'>
    <%= select_tag(:brand_id, options_for_select(@brands), :prompt => t('f-product-brand')) %>
  </div>

  <!-- 商品隱藏與否 -->
  <div class='group'>
    <%= f.input :is_hidden, :label => t('f-hide') %>
  </div>

  <%= f.submit t('f-submit'), class: 'btn btn-lg btn-default' %>

<% end %>
