<div class='col-xs-12 col-md-6 product-image'>
<!-- 商品圖片 -->
  <div class="row">
    <% if @product_images.present? %>
    <!-- 第一張圖為 medium 尺寸大圖 -->
    <div class="col-md-12">
      <%= image_tag(@product_images.first.image.medium.url, class: 'main-image') %>
    </div>
      <% @product_images.each_with_index do |p| %>
        <!-- 顯示所有商品圖片 - other 尺寸小圖 -->
        <div class="col-md-2 col-sm-4 col-xs-6 image-box">
          <%= image_tag(p.image.other.url, class: 'list-image') %>
        </div>
      <% end %>
    <% else %>
      <%= image_tag('http://placehold.it/300x300&text=No Pic', class: 'thumbnail') %>
    <% end %>
  </div>
</div>

<div class='col-xs-12 col-md-6'>
  <h1> <%= @product.name %> </h1>
  <!-- 所屬主類別 -->
  <h3><%= t('f-category-group') %></h3>
  <p><%= @product.category.category_group.name %></p>

  <!-- 所屬類別 -->
  <h3><%= t('f-product-category') %></h3>
  <p><%= @product.category.name %></p>

  <!-- 所屬品牌 -->
  <h3><%= t('f-product-brand') %></h3>
  <p><%= @product.brand.name %></p>

  <!-- 商品規格：尺寸 / 材質 / 產地 / 顏色 -->
  <h3><%= t('f-specification') %></h3>
  <%= t('f-product-size') %>：<%= @product.size %><br/>
  <%= t('f-product-material') %>：<%= @product.material %><br/>
  <%= t('f-product-country') %>：<%= @product.country %><br/>

  <div class='admin-color-circle'>
    <% if @product.colors.present? %>
      <% @product.colors. each do |color|%>
          <button style='background-color:<%= color.code %>'></button>
      <% end %>
    <% end %>
  </div>

  <!-- 商品價錢 -->
  <h3><%= t('f-product-price') %></h3>
  <p><%= @product.price %></p>

  <!-- 商品庫存 -->
  <h3><%= t('f-product-quantity') %></h3>
  <p><%= @product.quantity %></p>
</div>
