<!--=== 商品類型 & 品牌選單 ===-->
<div class="btn-group">

  <!--=== 精選商品 ===-->
  <div class='dropdown btn-group clearfix'>
    <%= link_to products_path(:chosen => 'y'), class: 'btn' do %>
      <%= t('f-product-chosen') %> #
    <% end %>
  </div>

  <!--=== 類型選單 ===-->
  <% @category_groups.each do |category_group| %>
    <div class='dropdown btn-group clearfix'>
      <button class='btn dropdown-toggle' type='button' data-toggle='dropdown'>
        <%= category_group.name %> <i class="fa fa-angle-down"></i>
      </button>

      <!-- 選項：列出該類型所有分類 -->
      <ul class='dropdown-menu'>
        <% category_group.categories.each do |category| %>
          <li>
            <%= link_to(category.name, products_path(:category => category.name)) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--=== 品牌選單 ===-->
  <div class='dropdown btn-group clearfix'>
    <button class='btn dropdown-toggle' type='button' data-toggle='dropdown'>
      <%= t('nav-brand') %> <i class="fa fa-angle-down"></i>
    </button>

    <!-- 選項：列出所有品牌 -->
    <ul class='dropdown-menu'>
      <% @brands.each do|brand| %>
        <li>
          <%= link_to(brand.name, products_path(:brand => brand.name)) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<hr/>

<div class="path-box">
  <!--=== 產品頁面路徑 ===-->
  <div class="left-box">
    <%= link_to products_path do %>
      <%= (t('j-and-a-select')) %>
    <% end %>

    <% if params[:id].present? %>
    / <a href="../products?group=<%= @product.category.category_group.name %>"><%= @product.category.category_group.name %></a> / <a href="../products?category=<%= @product.category.name %>"><%= @product.category.name %></a> / <a href="<%= @product.id %>"><%= @product.name %></a>
    <% elsif params[:category].present? %>
    / <a href="products?group=<%= @category.category_group.name %>"><%= @category.category_group.name %></a> / <a href="products?category=<%= @category.name %>"><%= @category.name %></a>
    <% elsif params[:group].present? %>
    / <a href="products?group=<%= @group.name %>"><%= @group.name %></a>
    <% elsif params[:brand].present? %>
    / <a href="products?brand=<%= @brand.name %>"><%= @brand.name %></a>
    <% elsif params[:chosen].present? %>
    / <a href="products?chosen=y"><%= t('f-product-chosen') %></a>
    <% end %>
  </div>

  <!-- 只在 Products#index 和 products/search 兩個頁面顯示 -->
  <% if current_page?(products_url) || current_page?('/products/search') %>
  <!--=== 排序選單 ===-->
  <div class="right-box">
    <div class="dropdown btn-group clearfix">
      <% if params[:order].present? %>
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= params[:order] %> <span class="caret"></span>
        </button>
      <% else %>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= t('order-btn-title') %> <span class="caret"></span>
        </button>
      <% end %>

      <!-- 選項：列出排序方式 -->
      <ul class="dropdown-menu dropdown-menu-right" selection aria-labelledby="dropdownMenuDivider">
        <li><%= link_to(t('order-btn-hot'), '#') %></li>
        <li><%= link_to(t('order-btn-recent'), '#') %></li>
        <li><%= link_to(t('order-btn-price-l'), '#') %></li>
        <li><%= link_to(t('order-btn-price-h'), '#') %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<hr/>
