<!-- 商品規格：尺寸 / 材質 / 產地 -->

<% if @product.size.present? %>
<p>
  <%= t('product-size') %>：<%= @product.size %>
</p>
<% end %>

<% if @product.material.present? %>
<p>
  <%= t('product-material') %>：<%= @product.material %>
</p>
<% end %>

<% if @product.country.present? %>
  <p>
    <%= t('product-country') %>：<%= @product.country %>
  </p>
<% end %>

<div class='color-circle'>
  <% if @product.colors.present? %>
    <p>
      <%= t('product-color') %>：
      <% @product.colors. each do |color|%>
          <button style='background-color:<%= color.code %>'></button>
      <% end %>
    </p>
  <% end %>
</div>
