<div class="product-box">
  <div class="container">
  <!--=== 商品類型 Banner ===-->
  <% if params[:id].present? %>
    <%= image_tag(@product.category.category_group.image, class: "background-image") %>
  <% elsif params[:category].present? %>
    <%= image_tag(@category.category_group.image, class: "background-image") %>
  <% elsif params[:group].present? %>
    <%= image_tag(@group.image, class: "background-image") %>
  <% else %>
    <%= image_tag("product_bg.jpg", class: "background-image") %>
  <% end %>
  <!--=== 商品類型 & 品牌選單 ===-->
  <%= render "products/menu" %>

  <% if @products.length > 0 %>
    <!--=== 商品列表 ===-->
    <div class='row'>
      <% @products.each_with_index do |product, index| %>
        <div class='col-xs-12 col-sm-4 col-md-3 product-content'>
          <%= link_to product_path(product) do %>
            <!-- 商品圖片 -->
            <% if product.product_images.present? %>
              <!-- 顯示第一張圖片 -->
              <% if product.is_chosen %>
                <div class="chosen-box"><%= t('product-chosen') %></div>
              <% end %>
              <%= image_tag(product.product_images[0].image.other.url, class: 'thumbnail')%>
            <% else %>
              <%= image_tag('http://placehold.it/200x200&text=No Pic', class: 'thumbnail') %>
            <% end %>
          <% end %>
          <div class="product-info">
            <p><%= link_to(product.name , product_path(product)) %></p>
            <p><%= render_product_price(product) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="product-content">
      <h2><%= (t('no-product-data')) %></h2>
    </div>
  <% end %>

    <div class="page-box">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => t('previous-label'), :next_label => t('next-label') %>
    </div>
  </div>
</div>
