<!--=== 商品類型 & 品牌選單 ===-->
<%= render "products/menu" %>

<!--=== 商品資訊 ===-->
<h1> <%= @product.name %> </h1>

<!-- 所屬主類別 -->
<h3><%= t('f-category-group') %></h3>
<p>
  <%= @product.category.category_group.name %>
</p>

<!-- 所屬類別 -->
<h3><%= t('f-product-category') %></h3>
<p>
  <%= @product.category.name %>
</p>

<!-- 所屬品牌 -->
<h3><%= t('f-product-brand') %></h3>
<p>
  <%= @product.brand.name %>
</p>

<!-- 商品價錢 -->
<h3><%= t('f-product-price') %></h3>
<p>
  <%= @product.price %>
</p>

<!-- 商品庫存 -->
<h3><%= t('f-product-quantity') %></h3>
<p>
  <%= @product.quantity %>
</p>

<!-- 加入購物車 -->
<%= link_to(t('btn-add-to-cart'), add_to_cart_product_path(@product), :method => :post, :class => 'btn btn-lg btn-default') %>
