<div class='product-box product-show'>
  <div class='container'>
    <!--=== 商品類型 & 品牌選單 ===-->
    <%= image_tag(@product.category.category_group.image, class: 'background-image') %>
    <%= render 'products/menu' %>

    <!-- 如果商品是上架狀態 -->
    <% if !@product.hidden?  %>

        <!-- 商品圖片 -->
        <div class='col-xs-12 col-md-8 product-image'>
          <div class='row'>
            <% if @product_images.present? %>
            <!-- 顯示第一張商品圖片 - main 尺寸大圖 -->
            <div class='col-md-12'>
              <% if @product.is_chosen %>
                <div class="chosen-box location"><%= t('product-chosen') %></div>
              <% end %>
              <%= image_tag(@product_images.first.image.main.url, class: 'main-image thumbnail') %>
            </div>
              <% @product_images.each_with_index do |p| %>
                <!-- 顯示所有商品圖片 - other 尺寸小圖 -->
                <div class='col-md-2 col-sm-4 col-xs-6 image-box'>
                  <%= image_tag(p.image.other.url, class: 'list-image thumbnail') %>
                </div>
              <% end %>
            <% else %>
              <%= image_tag('http://placehold.it/400x400&text=No Pic', class: 'thumbnail') %>
            <% end %>
          </div>
        </div>
        <!--=== 商品資訊 ===-->
        <%= form_tag add_to_cart_product_path(@product), :method => :post, :remote => true do %>
        <div class='col-xs-12 col-md-4 product-detail'>
          <div>
            <h1><%= @product.name %></h1>
            <div class="price">
              <div class="left-box">
                <h3><%= render_product_price(@product) %></h3>
              </div>
              <div class="right-box currency">
                <!-- 幣值轉換 -->
                <%= render 'products/currency' %>
              </div>
            </div>
            <p><%= simple_format(@product.description) %></p>
          </div>
          <hr />
          <div>
            <p><%= t('product-brand') %>：<%= link_to(@product.brand.name, products_path(:brand => @product.brand.name)) %></p>
            <!-- 商品規格：尺寸 / 材質 / 產地 / 顏色 -->
            <%= render 'products/specification' %>
            <br/>
            <p>
              <!--=== 如果庫存數量大於零 ===-->
              <% if @orderSum < @product.quantity && @product.quantity > 0 %>
              <div class="quantity-box">
                <div class="left-box"><%= t('product-quantity') %>：</div>
                <div class="left-box">
                  <%= link_to("-", "", id: "quantity-down", class: "quantity-actions") %>
                  <input type="text" name="quantity" value="1" id="quantity" max="<%= @product.quantity - @orderSum %>" class="quantity-input">
                  <%= link_to("+", "", id: "quantity-up", class: "quantity-actions") %>
                </div>
              </div>

              <!--=== 如果沒有庫存 ===-->
              <% else %>
                <div class="quantity-box">
                  <%= t('product-quantity') %>：<span class="quantity-none"><%= t('product-quantity-none') %></span>
                </div>
              <% end %>
            </p>

          </div>
          <hr />

          <div class='row'>
            <!-- 願望清單 -->
            <div class='left-box wish'>
              <% if current_user && current_user.is_wish_list_owner_of?(@product) %>
                <%= link_to remove_from_wish_list_product_path(@product), method: :post do %>
                  <i class='fa fa-check fa-fw'> </i><%= t('wish-list-remove') %>
                <% end %>
              <% else %>
                <%= link_to add_to_wish_list_product_path(@product), method: :post do %>
                  <i class='fa fa-plus fa-fw'> </i><%= t('wish-list-add') %>
                <% end %>
              <% end %>
            </div>
            <div class='right-box share'>
              <%= social_share_button_tag(@product.name, :allow_sites => %w(facebook twitter google_plus wechat weibo)) %>
            </div>
          </div>
          <!--=== 如果庫存數量大於零 ===-->
          <% if @orderSum < @product.quantity && @product.quantity > 0 %>
            <!-- 加入購物車 -->
            <button class="btn btn-md btn-default" type="submit">
              <%= t('btn-add-to-cart')%>
            </button>

          <!--=== 如果沒有庫存 ===-->
          <% else %>
            <button class="btn btn-md btn-default" disabled="disabled" type="button">
              <%= t('btn-add-to-cart-none')%>
            </button>
          <% end %>
          <!-- 顯示隨機推薦商品 -->
          <div class='suggest-box'>
            <hr class='suggest'>
            <%= render 'shared/suggest' %>
          </div>
        </div>
        <% end %>

    <!-- 如果商品是隱藏狀態 -->
    <% else %>

      <div class='buy-box'>
        <h1><%= t('product-is-hidden') %></h1>
        <br/>
        <%= link_to(t('btn-continue'), products_path, class:'btn btn-lg btn-default' ) %>
      </div>

    <% end %>

  </div>
</div>
