<div class="row">
  <div class="col-md-12">
    <% if current_page?('/') %>
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
    <% else %>
      <div class="navbar navbar-default navbar-fixed-top show_bgcolor" role="navigation">
    <% end %>
      <div class="container">
        <div class="navbar-header">
          <!--=== 右側下拉選單（移動端顯示） ===-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--=== 網站 Logo/名稱 ===-->
          <%= link_to root_path, class: "navbar-brand logo-box scroll" do %>
            <%= image_tag("logo.png") %><%= t('j-and-a-select') %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse top-nav" id="menu-4">
          <!--=== 網站連結 ===-->
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to(t('product-access'), products_path) %></li>
            <!-- <li><%= link_to(t('brand-access'), '#', class: "scroll") %></li>
            <li><%= link_to(t('recommend-access'), '#', class: "scroll") %></li> -->
          </ul>
          <!--=== 帳號操作 ===-->
          <ul class='nav navbar-nav  navbar-right'>
            <li class="divider" role="separator"></li>
            <!-- 願望清單 -->
            <li>
              <%= link_to account_products_path do %>
                <%= t('wish-list') %> <i class='fa fa-gift'></i>
              <% end %>
            </li>
            <!-- 購物車 -->
            <li>
              <%= link_to carts_path do %>
                <i class='fa fa-shopping-cart'></i> ( <%= current_cart.products.count %> )
              <% end %>
            </li>
            <!-- 切換語系 -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= t('language') %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- 語系選項 -->
                <li><%= link_to "简体中文", :controller => controller_name, :action => action_name, :locale => "zh-CN" %></li>
                <li><%= link_to "繁體中文", :controller => controller_name, :action => action_name, :locale => "zh-TW" %></li>
              </ul>
            </li>
            <% if !current_user %>
              <!-- 訪客註冊 / 登入 -->
              <li><%= link_to(t('signup'), new_user_registration_path) %> </li>
              <li><%= link_to(t('login'), new_user_session_path) %></li>
            <% else %>
              <!-- 使用者下拉式選單 -->
              <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                  <%= t('greeting') %>
                  <%= current_user.nickname %>
                  <b class='caret'></b>
                </a>
                <!-- 下拉選單 -->
                <ul class='dropdown-menu'>
                  <!-- admin 後台 -->
                  <% if current_user.admin? %>
                    <li> <%= link_to(t('admin-access'), admin_products_path) %> </li>
                    <li class="divider"> </li>
                  <% end %>
                  <!-- user 選項 -->
                  <li> <%= link_to(t('user-center'), edit_account_user_path(current_user)) %> </li>
                  <li> <%= link_to(t('user-order'), account_orders_path) %> </li>
                  <li class="divider"> </li>
                  <li> <%= link_to(t('logout'), destroy_user_session_path, method: :delete) %> </li>
                </ul>
              </li>
            <% end %>
          </ul>
          <!-- 搜索欄 -->
          <%= form_tag search_products_path, :method => :get, class: "navbar-form pull-right" do %>
            <div class="input-group search-box">
              <input type="text" class="form-control" name="keyword" placeholder="<%= t('keywaods')%>" value="<%= params[:keyword] %>">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span><i class="fa fa-search"></i></span>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
