<!DOCTYPE html>
<html>
  <head>
    <title><%= t('brand') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <!--=== navbar ===-->
      <div class="row">
        <%= render "common/navbar" %>
      </div>

      <!--=== 後台操作面板 ===-->
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to(t('brand'), admin_brands_path, :class => 'btn btn-md btn-default') %> </li>
        </ul>
      </div>

      <!--=== 後台內容 ===-->
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
