<!DOCTYPE html>
<html>
  <head>
    <title><%= t('j-and-a-select') %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <!--=== navbar ===-->
      <div class="row">
        <%= render "common/navbar" %>
      </div>

      <!--=== 後台操作面板 ===-->
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <!-- 商品管理 -->
          <li> <%= link_to(t('admin-product'), admin_products_path, :class => 'btn btn-md btn-default') %> </li>
          <!-- 品牌管理 -->
          <li> <%= link_to(t('admin-brand'), admin_brands_path, :class => 'btn btn-md btn-default') %> </li>
          <!-- 分類管理 -->
          <li> <%= link_to(t('admin-category'), admin_categories_path, :class => 'btn btn-md btn-default') %> </li>
          <!-- 首页管理 -->
          <li> <%= link_to(t('admin-homepage'), admin_intros_path, :class => 'btn btn-md btn-default') %> </li>
        </ul>
      </div>

      <!--=== 後台內容 ===-->
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
