<!DOCTYPE html>
<html>
  <head>
    <title><%= t('j-and-a-select') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta property="og:title" content="The Rock"/>
    <meta property="og:type" content="movie"/>
    <meta property="og:url" content="http://www.imdb.com/title/tt0117500/"/>
    <meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>
    <meta property="og:site_name" content="IMDb"/>
    <meta property="fb:admins" content="USER_ID"/>
    <meta property="og:image" content="http://imgur.com/xRthMKq" />
    <meta property="og:image" content="https://j-and-a-select-bucket.s3.amazonaws.com/uploads/product_image/image/829/main_s_01.jpg" />
    <meta property="og:image" content="http://imgur.com/vR4wKic" />
  </head>
  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= yield %>
    </div>
    <div class='row'>
      <%= render "common/footer" %>
    </div>
  </body>
</html>
